@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,400&display=swap');

:root {
  --font-family-main: 'Lato', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 900;
}
